body {
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  height: 100vh;
  color: white;
  background: url("https://images.pexels.com/photos/930687/pexels-photo-930687.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position-x: 50%;
}
.container {
  min-width: 40%;
  margin-top: 20%;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.title {
  color: rgb(0, 0, 0);
}
.subtitle {
  color: rgb(0, 0, 0);
}
.dropdown {
  display: block;
}
.dropdown-menu {
  width: 100%;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  body {
    background-size: 300%;
    background-position-x: 50%;
    background-position-y: 10%;
  }
  .container {
    margin-top: 40%;
  }
  .container h1 {
    font-size: 400%;
  }
}
@media screen and (max-width: 992px) {
  body {
    background-size: 200%;
    background-position-x: 50%;
    background-position-y: 10%;
  }
  .container {
    margin-top: 30%;
  }
  .container h1 {
    font-size: 400%;
  }
}
@media screen and (max-width: 768px) {
  body {
    background-size: 270%;
    background-position-x: 50%;
    background-position-y: 30%;
  }
  .column is-three-quarters {
    display: none;
  }
  .input {
    margin-left: 15%;
    width: 70%;
  }
  .container h1 {
    font-size: 350%;
  }
  .container p {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  body {
    background-size: 370%;
    background-position-x: 50%;
    background-position-y: 40%;
  }
  .column is-three-quarters {
    display: none;
  }
  .container {
    margin-top: 50%;
  }
  .input {
    margin-left: 15%;
    width: 70%;
  }
  .container h1 {
    font-size: 270%;
  }
  .container p {
    display: none;
  }
}
@media screen and (max-width: 375px), (max-height: 812px) {
  body {
    background-size: 500%;
    background-position-x: 50%;
    background-position-y: 20%;
  }
  .column is-three-quarters {
    display: none;
  }
  .container {
    margin-top: 30%;
  }
  .input {
    margin-left: 15%;
    width: 70%;
  }
  .container h1 {
    font-size: 270%;
  }
  .container p {
    display: none;
  }
}
